@import 'normalize';

body{
	display: flex;
	flex-direction: column;
	background: #3C4751;
}

.menu{
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	background: #2E3943;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px;
	box-sizing: border-box;
	.fa{
		color: #ccc;
		padding: 10px;
		margin: 0 5px;
		&:hover{
			cursor: pointer;
			color: #fff;
		}
	}
}

.categories{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	.category{
		position: relative;
		display: inline-flex;
		flex-direction: column;
	    flex-basis: 0;
		padding: 5px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		&:hover{
			cursor: default;
		}
		&-title{
			padding: 10px 5px;
			font-size: 13px;
			font-family: 'Oxygen', sans-serif;
			color: #ccc;
			text-align: center;
			justify-content: center;
			display: flex;
		}
		.issues{
			min-width: 106px;
			min-height: 400px;
			display: flex;
			flex-direction: row;
			font-size: 9px;
			flex-wrap: wrap;
			align-content: flex-start;
		    align-items: flex-start;
		    padding-bottom: 300px;
			.issue{
				position: relative;
				pointer-events: auto;
				display: flex;
				flex-direction: column;
				max-width: 100px;
				min-width: 100px;
				word-break: break-word;
				margin: 3px;
				border-top: 1px solid rgba(255, 255, 255, 0.5);
				border-left: 1px solid rgba(255, 255, 255, 0.4);
				border-bottom: 4px solid rgba(0,0,0,.4);
				color: rgba(0,0,0,.7);
				padding: 5px;
				&:hover{
					cursor: pointer;
				}
				&-header{
					font-weight: bold;
				}
				&-title{
					margin-top: 3px;
					margin-bottom: 5px;
				}
				&-footer{
					margin-top: auto;
					font-style: italic;
					text-align: right;
				}
				&.Low{
					background: linear-gradient(to bottom, rgba(124,176,165,1) 0%,rgba(98,150,140,1) 100%);
				}
				&.Medium{
					background: linear-gradient(to bottom, rgba(244,169,34,1) 0%,rgba(219,143,8,1) 100%);
				}
				&.High{
					background: linear-gradient(to bottom, rgba(243,126,56,1) 0%,rgba(218,100,30,1) 100%);
				}
				&.Critical{
					background: linear-gradient(to bottom, rgba(181,69,52,1) 0%,rgba(134,35,19,1) 100%);
				}
			}
		}
	}
}
