<div class="issue" data-priority="{{issue-priority}}">
    <div class="issue-header">{{issue-project}}</div>
    <div class="issue-title">{{issue-title}}</div>
    <div class="issue-footer">{{issue-author}}</div>
</div>
