<div class="menu" id="menu">
	<i class="fa fa-refresh" aria-hidden="true" id="refresh"></i>
	<select class="filter" id="filter">
		<option value="status">Status</option>
		<option value="fixer">Fixer</option>
		<option value="project">Project</option>
	</select>
</div>

<div class="modal">
	<input type="text" placeholder="username">
	<input type="password" placeholder="password">
</div>
