<div class="menu" id="menu">
	<a href="logout">Logout</a>
	<button id="refresh" class="refresh"><i class="fa fa-refresh" aria-hidden="true" id="refresh"></i></button>
	<div class="filter" id="filter">
		<button data-filter="status" class="active">Status</button>
		<button data-filter="fixer">Fixer</button>
		<button data-filter="project">Project</button>
	</ul>
</div>
